.uui-accordion {
    display: flex;
    flex-direction: column;
    --uui-accordion-gap: 0px;
    --uui-corner-full: var(--uui-corner-large);
    --uui-slot-size: 24px;
    --uui-slot-gap: 4px;
    --uui-col-gap: 8px;
    gap: var(--uui-accordion-gap);
    min-width: 200px;
    align-self: start;

}

.uui-accordion-group {
    overflow: hidden;
}

.uui-accordion.uui-accordion-pills {
    --uui-accordion-gap: 8px;
}


.uui-accordion-segmented .uui-accordion-group.uui-open {
    margin: 8px 0;
}

.uui-accordion-segmented .uui-accordion-group.uui-open:first-child {
    margin-top: 0;
}

.uui-accordion-segmented .uui-accordion-group.uui-open:last-child {
    margin-bottom: 0;
}

.uui-accordion-segmented .uui-accordion-group.uui-open:only-child {
    margin: 0;
}
