.uui-badge {
  width: max-content;
  height: max-content;
  position: relative;
}

.uui-badge-slot {
  --uui-badge-offset: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.uui-badge-control {
  --uui-corner-rounded: 8px;
  --uui-corner-smooth: 4px;
  --uui-corner-round: var(--uui-corner-full);
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
}

.uui-badge-control.uui-extra-small,
.uui-badge-control.uui-small {
  --uui-badge-offset: 10px;
  width: 6px;
  height: 6px;
}

.uui-badge-slot .uui-badge-control,
.uui-badge-slot .uui-badge-control {
  margin: var(--uui-badge-offset);
}

.uui-badge-slot {
}

.uui-badge-control.uui-medium {
  height: 16px;
  min-width: 16px;
  padding: 4px;
}

.uui-badge-control.uui-extra-large,
.uui-badge-control.uui-large {
  --uui-badge-offset: -8px;
  min-width: 24px;
  height: 24px;
  padding: 6px;
}
