.uui-bb {
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  --uui-accent-color: var(--uui-control-color, var(--uui-color-primary));
  --uui-corner-round: var(--uui-corner-full);
}

.uui-compact > .uui-bb,
.uui-bb.uui-compact {
  min-width: 40px;
  min-height: 40px;
}

.uui-dense > .uui-bb,
.uui-bb.uui-dense {
  min-width: 32px;
  min-height: 32px;
}

.uui-btn-control {
  position: relative;
  outline: none;
  box-sizing: border-box;
  width: var(--uui-button-width, inherit);
  height: var(--uui-button-height, inherit);
  padding-left: var(--uui-button-padding, inherit);
  padding-right: var(--uui-button-padding, inherit);

}

.uui-btn-control.uui-btn-custom {
  min-width: 24px;
  min-height: 24px;
}

.uui-btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--uui-col-space, 8px);
}

.uui-bb .uui-state {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: var(--uui-opacity-transition);
  z-index: 1;
}

.uui-btn-control.uui-focus-overlay:focus-visible .uui-state {
  opacity: var(--uui-focus-opacity);
}

.uui-btn-control.uui-hover-overlay:hover .uui-state {
  opacity: var(--uui-hover-opacity);
}

.uui-btn-control.uui-pressed-overlay:active .uui-state {
  opacity: var(--uui-pressed-opacity);
}

.uui-btn-control.uui-selected.uui-selected-overlay .uui-state {
  opacity: var(--uui-selected-opacity);
}

/*Colors*/

/*Standard*/
.uui-btn-control.uui-text{
  --uui-btn-text-color: var(--uui-accent-color);
  --uui-btn-state-color: var(--uui-accent-color);
}

.uui-btn-control.uui-outlined {
  --uui-btn-text-color: var(--uui-color-on-surface-variant);
  --uui-btn-state-color: var(--uui-color-on-surface-variant);
}

.uui-btn-control.uui-filled {
  --uui-btn-text-color: var(--uui-color-on-primary);
  --uui-btn-bg-color: var(--uui-accent-color);
  --uui-btn-state-color: var(--uui-color-on-primary);
}

.uui-btn-control.uui-tonal {
  --uui-btn-text-color: var(--uui-color-on-secondary-container);
  --uui-btn-bg-color: var(--uui-color-secondary-container);
  --uui-btn-state-color: var(--uui-color-on-secondary-container);
}

.uui-btn-control.uui-elevated {
  --uui-btn-text-color: var(--uui-accent-color);
  --uui-btn-bg-color: var(--uui-color-surface-container-low);
  --uui-btn-state-color: var(--uui-color-primary);
}

/*Toggle*/
.uui-btn-control.uui-text.uui-toggle{
  --uui-btn-text-color: var(--uui-accent-color);
  --uui-btn-state-color: var(--uui-accent-color);
}

.uui-btn-control.uui-outlined.uui-toggle {
  --uui-btn-text-color: var(--uui-color-on-surface-variant);
  --uui-btn-state-color: var(--uui-color-on-surface-variant);
}

.uui-btn-control.uui-filled.uui-toggle {
  --uui-btn-text-color: var(--uui-color-on-surface-variant);
  --uui-btn-bg-color: var(--uui-color-surface-container);
  --uui-btn-state-color: var(--uui-color-on-surface);
}

.uui-btn-control.uui-tonal.uui-toggle {
  --uui-btn-text-color: var(--uui-color-on-secondary-container);
  --uui-btn-bg-color: var(--uui-color-secondary-container);
  --uui-btn-state-color: var(--uui-color-secondary);
}

.uui-btn-control.uui-elevated.uui-toggle {
  --uui-btn-text-color: var(--uui-accent-color);
  --uui-btn-bg-color: var(--uui-color-surface-container-low);
  --uui-btn-state-color: var(--uui-color-on-surface);
}

/*Toggle selected*/
.uui-btn-control.uui-text.uui-toggle.uui-selected,
.uui-btn-control.uui-elevated.uui-toggle.uui-selected,
.uui-btn-control.uui-filled.uui-toggle.uui-selected
{
  --uui-btn-text-color: var(--uui-color-on-primary);
  --uui-btn-bg-color: var(--uui-accent-color);
  --uui-btn-state-color: var(--uui-color-on-primary);
}

.uui-btn-control.uui-outlined.uui-toggle.uui-selected {
  --uui-btn-text-color: var(--uui-color-inverse-on-surface);
  --uui-btn-bg-color: var(--uui-color-inverse-surface);
  --uui-btn-state-color: var(--uui-color-inverse-on-surface);
}

.uui-btn-control.uui-tonal.uui-toggle.uui-selected {
  --uui-btn-text-color: var(--uui-color-on-secondary);
  --uui-btn-bg-color: var(--uui-color-secondary);
  --uui-btn-state-color: var(--uui-color-on-secondary);
}



.uui-btn-control {
   color: var(--uui-btn-text-color);
   background-color: var(--uui-btn-bg-color);
}

.uui-btn-control .uui-state {
   background-color: var(--uui-btn-state-color);
}

/*Disabled shared*/
.uui-bb .uui-btn-control:disabled {
  color: var(--uui-color-on-surface) !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.uui-bb .uui-btn-control:disabled .uui-btn-content {
  opacity: var(--uui-disabled-opacity);
}

.uui-bb .uui-btn-control:disabled:after {
  opacity: var(--uui-disabled-opacity);
  border-color: var(--uui-color-outline-variant);
}

.uui-bb .uui-btn-control:disabled .uui-state {
  background-color: var(--uui-color-on-surface) !important;
  opacity: 0.1 !important;
}

.uui-bb .uui-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  user-select: none;
}

/*.uui-bb .uui-icon {*/
/*  display: flex;*/
/*}*/
