.uui-button .uui-extra-large {
  padding-left: 4rem;
  padding-right: 4rem;
  height: 8.5rem;
  --uui-icon-size: 2.5rem;
  --uui-col-space: 1rem;
  --uui-corner-rounded: 28px;
  --uui-corner-smooth: 16px;
}

.uui-button .uui-large {
  padding-left: 3rem;
  padding-right: 3rem;
  height: 6rem;
  --uui-icon-size: 2rem;
  --uui-col-space: 0.75rem;
  --uui-corner-rounded: 28px;
  --uui-corner-smooth: 16px;
}

.uui-button .uui-medium {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3.5rem;
  --uui-icon-size: 1.5rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 16px;
  --uui-corner-smooth: 12px;
}

.uui-button .uui-small {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}

.uui-button .uui-extra-small {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}
