.uui-button .uui-extra-large {
  --uui-button-padding: 4rem;
  --uui-button-height: 8.5rem;
  --uui-icon-size: 2.5rem;
  --uui-col-space: 1rem;
  --uui-corner-rounded: 28px;
  --uui-corner-smooth: 16px;
}

.uui-button .uui-large {
  --uui-button-padding: 3rem;
  --uui-button-height: 6rem;
  --uui-icon-size: 2rem;
  --uui-col-space: 0.75rem;
  --uui-corner-rounded: 28px;
  --uui-corner-smooth: 16px;
}

.uui-button .uui-medium {
  --uui-button-padding: 1.5rem;
  --uui-button-height: 3.5rem;
  --uui-icon-size: 1.5rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 16px;
  --uui-corner-smooth: 12px;
}

.uui-button .uui-small {
  --uui-button-padding: 1rem;
  --uui-button-height: 2.5rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}

.uui-button .uui-extra-small {
  --uui-button-padding: 0.75rem;
  --uui-button-height: 2rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}
