.uui-chip .uui-extra-large {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  height: 6rem;
  --uui-icon-size: 2rem;
  --uui-col-space: 0.75rem;
  --uui-corner-rounded: 28px;
  --uui-corner-smooth: 16px;
}

.uui-chip .uui-large {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3.5rem;
  --uui-icon-size: 1.5rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 16px;
  --uui-corner-smooth: 12px;
}

.uui-chip .uui-medium {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 2.5rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}

.uui-chip .uui-small {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}

.uui-chip .uui-extra-small {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  height: 1.75rem;
  --uui-icon-size: 1.25rem;
  --uui-col-space: 0.5rem;
  --uui-corner-rounded: 12px;
  --uui-corner-smooth: 8px;
}
