.uui-collapse {
    --uui-ease: ease-in-out;
    --uui-corner-full: var(--uui-corner-extra-large);
    transition: height var(--uui-duration) var(--uui-ease);
    overflow: hidden;
}


.uui-collapse-wrapper {
    display: flow-root;
    border-radius: inherit;
}
