.uui-control-grid {
    display: grid;
    align-items: center;
    gap: var(--uui-control-grid-gap, 4px 8px);
}

.uui-control-grid-end {
    grid-template-columns: auto 1fr;
}

.uui-control-grid-start {
    grid-template-columns: 1fr auto;
}

.uui-control-grid-col {
    grid-template-columns: 1fr;
}

.uui-control-grid-end .uui-description {
    grid-column: 2;
}

.uui-control-grid.uui-spanned .uui-description {
    grid-column: 1 / -1;
}

.uui-description {
    color: var(--uui-color-on-surface-variant);
}

.uui-error {
    color: var(--uui-color-error);
}
