.uui-field-wrapper {
  --uui-field-padding-l: 16px;
  --uui-field-padding-r: 16px;
  --uui-field-padding-y: 4px;
  --uui-slot-size: 48px;
  display: flex;
  flex-direction: column;
}

.uui-field-control {
  --uui-corner-round: var(--uui-corner-full);
  --uui-corner-smooth: 2px;
  --uui-corner-rounded: 4px;
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--uui-field-padding-y) var(--uui-field-padding-r)
    var(--uui-field-padding-y) var(--uui-field-padding-l);
  cursor: text;
}

.uui-field-control.uui-has-leading {
  padding-left: 0;
}

.uui-field-control.uui-has-trailing {
  padding-right: 0;
}

.uui-field.uui-filled .uui-field-control {
  background-color: var(--uui-color-surface-container-highest);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.uui-field-control .uui-leading,
.uui-field-control .uui-trailing {
  display: inline-flex;
  align-items: center;
}

.uui-field-control .uui-slot {
  width: var(--uui-slot-size);
  height: var(--uui-slot-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
}

.uui-field-control .uui-slot svg {
  width: var(--uui-icon-size);
  height: var(--uui-icon-size);
}

.uui-field-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: var(--uui-field-padding-y) 0;
  min-height: 48px;
  flex: 1 1 0;
}

.uui-field-float-label {
  position: absolute;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%) translateX(0);
  transition:
    transform 150ms cubic-bezier(0.2, 0, 0, 1),
    top 150ms cubic-bezier(0.2, 0, 0, 1),
    font-size 150ms cubic-bezier(0.2, 0, 0, 1);
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uui-filled .uui-fb-label-up .uui-field-float-label {
  top: var(--uui-field-padding-y);
  transform: translateY(0);
}

.uui-outlined .uui-fb-label-up .uui-field-float-label {
  top: calc(var(--uui-field-padding-y) * -1);
  /*top: 0;*/
  transform: translateX(var(--uui-label-up-x)) translateY(-50%);
}

/*.uui-field-input-wrapper.uui-labeled {*/
/*  !*align-items: end;*!*/
/*}*/

.uui-field-state {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.uui-field-input {
  appearance: none;
  background-color: transparent;
  outline: 0;
  width: 100%;
}

/*.uui-fb-input-content {*/
/*  position: absolute;*/
/*  left: auto;*/
/*  pointer-events: none;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display:inline-flex;*/
/*  !*display: flex;*!*/
/*  !*flex-direction: column;*!*/
/*  !*justify-content: center;*!*/
/*  !*top:0;*!*/
/*}*/

/*.uui-field-input-wrapper.uui-labeled .uui-fb-input-content {*/
/*  justify-content: end;*/
/*}*/

/*.uui-field-placeholder {*/
/*  position: absolute;*/
/*  pointer-events: none;*/
/*}*/

.uui-field .uui-support-text {
  padding: 4px var(--uui-field-padding-l);
}

.uui-field-fieldset {
  border: 1px solid var(--uui-color-outline);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
}

.uui-field-fieldset > legend {
  line-height: 0;
  margin-left: 10px;
  opacity: 0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
}

.uui-outlined .uui-fb-label-up .uui-field-fieldset > legend {
  max-width: 100%;
  padding: 0 4px;
}

/*.uui-field-input:-webkit-autofill,*/
/*.uui-field-input:-webkit-autofill:hover,*/
/*.uui-field-input:-webkit-autofill:focus {*/
/*  -webkit-text-fill-color: currentColor;*/
/*  -webkit-box-shadow: 0 0 0 1000px transparent inset;*/
/*}*/
