.uui-toast {
    --uui-toast-color: var(--uui-color-inverse-on-surface);
    --uui-toast-bg: var(--uui-color-inverse-surface);
    padding: 14px 16px;
    --uui-corner-smooth: 4px;
    --uui-corner-rounded: 8px;
    color: var(--uui-toast-color);
    background-color: var(--uui-toast-bg);
    align-items: center;
    gap:4px;
}

.uui-toast-error {
   --uui-toast-color: var(--uui-color-on-error-container);
   --uui-toast-bg: var(--uui-color-error-container);
}

.uui-toast-warning {
    --uui-toast-color: var(--uui-color-on-warning-container);
    --uui-toast-bg: var(--uui-color-warning-container);
}

.uui-toast-info {
    --uui-toast-color: var(--uui-color-on-info-container);
    --uui-toast-bg: var(--uui-color-info-container);
}

.uui-toast-success {
    --uui-toast-color: var(--uui-color-on-success-container);
    --uui-toast-bg: var(--uui-color-success-container);
}



