.uui-outline-1 {
  outline-style: solid;
  outline-width: 1.15px;
  outline-offset: -1.15px;
}

.uui-outline-2 {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
}

.uui-outline-3 {
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

.uui-outline-4 {
  outline-style: solid;
  outline-width: 4px;
  outline-offset: -4px;
}

.uui-outline-0 {
  outline: none;
}

/*.uui-border-0 { border-width: 0; border-style: solid; }*/
/*.uui-border-1 { border-width: 1px; border-style: solid; }*/
/*.uui-border-2 { border-width: 2px; border-style: solid; }*/
/*.uui-border-3 { border-width: 3px; border-style: solid; }*/
/*.uui-border-4 { border-width: 4px; border-style: solid; }*/

.uui-border-0 {
  position: relative;
}
.uui-border-0::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: 0;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
}

.uui-border-1 {
  position: relative;
}
.uui-border-1::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-color: inherit;
}

.uui-border-2 {
  position: relative;
}
.uui-border-2::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-color: inherit;
}

.uui-border-3 {
  position: relative;
}
.uui-border-3::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: 3px;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-color: inherit;
}

.uui-border-4 {
  position: relative;
}
.uui-border-4::after {
  content: '';
  position: absolute;
  inset: 0;
  border-width: 4px;
  border-style: solid;
  border-radius: inherit;
  pointer-events: none;
  border-color: inherit;
}
