.uui-current-primary {
  --uui-current-color: var(--uui-color-primary);
}

.uui-current-secondary {
  --uui-current-color: var(--uui-color-secondary);
}

.uui-current-tertiary {
  --uui-current-color: var(--uui-color-tertiary);
}

.uui-current-error {
  --uui-current-color: var(--uui-color-error);
}

.uui-current-on-primary {
  --uui-current-color: var(--uui-color-on-primary);
}

.uui-current-primary-container {
  --uui-current-color: var(--uui-color-primary-container);
}

.uui-current-on-primary-container {
  --uui-current-color: var(--uui-color-on-primary-container);
}

.uui-current-on-secondary {
  --uui-current-color: var(--uui-color-on-secondary);
}

.uui-current-secondary-container {
  --uui-current-color: var(--uui-color-secondary-container);
}

.uui-current-on-secondary-container {
  --uui-current-color: var(--uui-color-on-secondary-container);
}

.uui-current-on-tertiary {
  --uui-current-color: var(--uui-color-on-tertiary);
}

.uui-current-tertiary-container {
  --uui-current-color: var(--uui-color-tertiary-container);
}

.uui-current-on-tertiary-container {
  --uui-current-color: var(--uui-color-on-tertiary-container);
}

.uui-current-on-error {
  --uui-current-color: var(--uui-color-on-error);
}

.uui-current-error-container {
  --uui-current-color: var(--uui-color-error-container);
}

.uui-current-on-error-container {
  --uui-current-color: var(--uui-color-on-error-container);
}

.uui-current-outline {
  --uui-current-color: var(--uui-color-outline);
}

.uui-current-outline-variant {
  --uui-current-color: var(--uui-color-outline-variant);
}

.uui-current-surface {
  --uui-current-color: var(--uui-color-surface);
}

.uui-current-on-surface {
  --uui-current-color: var(--uui-color-on-surface);
}

.uui-current-surface-variant {
  --uui-current-color: var(--uui-color-surface-variant);
}

.uui-current-on-surface-variant {
  --uui-current-color: var(--uui-color-on-surface-variant);
}

.uui-current-background {
  --uui-current-color: var(--uui-color-background);
}

.uui-current-on-background {
  --uui-current-color: var(--uui-color-on-background);
}

.uui-current-inverse-surface {
  --uui-current-color: var(--uui-color-inverse-surface);
}

.uui-current-inverse-on-surface {
  --uui-current-color: var(--uui-color-inverse-on-surface);
}

.uui-current-inverse-primary {
  --uui-current-color: var(--uui-color-inverse-primary);
}

.uui-current-shadow {
  --uui-current-color: var(--uui-color-shadow);
}

.uui-current-scrim {
  --uui-current-color: var(--uui-color-scrim);
}

.uui-current-info {
  --uui-current-color: var(--uui-color-info);
}

.uui-current-on-info {
  --uui-current-color: var(--uui-color-on-info);
}

.uui-current-info-container {
  --uui-current-color: var(--uui-color-info-container);
}

.uui-current-on-info-container {
  --uui-current-color: var(--uui-color-on-info-container);
}

.uui-current-warning {
  --uui-current-color: var(--uui-color-warning);
}

.uui-current-on-warning {
  --uui-current-color: var(--uui-color-on-warning);
}

.uui-current-warning-container {
  --uui-current-color: var(--uui-color-warning-container);
}

.uui-current-on-warning-container {
  --uui-current-color: var(--uui-color-on-warning-container);
}

.uui-current-success {
  --uui-current-color: var(--uui-color-success);
}

.uui-current-on-success {
  --uui-current-color: var(--uui-color-on-success);
}

.uui-current-success-container {
  --uui-current-color: var(--uui-color-success-container);
}

.uui-current-on-success-container {
  --uui-current-color: var(--uui-color-on-success-container);
}

.uui-current-primary-fixed {
  --uui-current-color: var(--uui-color-primary-fixed);
}

.uui-current-primary-fixed-dim {
  --uui-current-color: var(--uui-color-primary-fixed-dim);
}

.uui-current-on-primary-fixed {
  --uui-current-color: var(--uui-color-on-primary-fixed);
}

.uui-current-on-primary-fixed-variant {
  --uui-current-color: var(--uui-color-on-primary-fixed-variant);
}

.uui-current-secondary-fixed {
  --uui-current-color: var(--uui-color-secondary-fixed);
}

.uui-current-secondary-fixed-dim {
  --uui-current-color: var(--uui-color-secondary-fixed-dim);
}

.uui-current-on-secondary-fixed {
  --uui-current-color: var(--uui-color-on-secondary-fixed);
}

.uui-current-on-secondary-fixed-variant {
  --uui-current-color: var(--uui-color-on-secondary-fixed-variant);
}

.uui-current-tertiary-fixed {
  --uui-current-color: var(--uui-color-tertiary-fixed);
}

.uui-current-tertiary-fixed-dim {
  --uui-current-color: var(--uui-color-tertiary-fixed-dim);
}

.uui-current-on-tertiary-fixed {
  --uui-current-color: var(--uui-color-on-tertiary-fixed);
}

.uui-current-on-tertiary-fixed-variant {
  --uui-current-color: var(--uui-color-on-tertiary-fixed-variant);
}

.uui-current-error-fixed {
  --uui-current-color: var(--uui-color-error-fixed);
}

.uui-current-error-fixed-dim {
  --uui-current-color: var(--uui-color-error-fixed-dim);
}

.uui-current-on-error-fixed {
  --uui-current-color: var(--uui-color-on-error-fixed);
}

.uui-current-on-error-fixed-variant {
  --uui-current-color: var(--uui-color-on-error-fixed-variant);
}

.uui-current-info-fixed {
  --uui-current-color: var(--uui-color-info-fixed);
}

.uui-current-info-fixed-dim {
  --uui-current-color: var(--uui-color-info-fixed-dim);
}

.uui-current-on-info-fixed {
  --uui-current-color: var(--uui-color-on-info-fixed);
}

.uui-current-on-info-fixed-variant {
  --uui-current-color: var(--uui-color-on-info-fixed-variant);
}

.uui-current-warning-fixed {
  --uui-current-color: var(--uui-color-warning-fixed);
}

.uui-current-warning-fixed-dim {
  --uui-current-color: var(--uui-color-warning-fixed-dim);
}

.uui-current-on-warning-fixed {
  --uui-current-color: var(--uui-color-on-warning-fixed);
}

.uui-current-on-warning-fixed-variant {
  --uui-current-color: var(--uui-color-on-warning-fixed-variant);
}

.uui-current-success-fixed {
  --uui-current-color: var(--uui-color-success-fixed);
}

.uui-current-success-fixed-dim {
  --uui-current-color: var(--uui-color-success-fixed-dim);
}

.uui-current-on-success-fixed {
  --uui-current-color: var(--uui-color-on-success-fixed);
}

.uui-current-on-success-fixed-variant {
  --uui-current-color: var(--uui-color-on-success-fixed-variant);
}

.uui-current-surface-dim {
  --uui-current-color: var(--uui-color-surface-dim);
}

.uui-current-surface-bright {
  --uui-current-color: var(--uui-color-surface-bright);
}

.uui-current-surface-container-lowest {
  --uui-current-color: var(--uui-color-surface-container-lowest);
}

.uui-current-surface-container-low {
  --uui-current-color: var(--uui-color-surface-container-low);
}

.uui-current-surface-container {
  --uui-current-color: var(--uui-color-surface-container);
}

.uui-current-surface-container-high {
  --uui-current-color: var(--uui-color-surface-container-high);
}

.uui-current-surface-container-highest {
  --uui-current-color: var(--uui-color-surface-container-highest);
}

.uui-current-surface-tint {
  --uui-current-color: var(--uui-color-surface-tint);
}

.uui-current-white {
  --uui-current-color: var(--uui-color-white);
}

.uui-current-black {
  --uui-current-color: var(--uui-color-black);
}

.uui-current-on-white {
  --uui-current-color: var(--uui-color-on-white);
}

.uui-current-on-black {
  --uui-current-color: var(--uui-color-on-black);
}
