:root {
  --uui-elevation-1:
    0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --uui-elevation-2:
    0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  --uui-elevation-3:
    0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  --uui-elevation-4:
    0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px 4px rgba(0, 0, 0, 0.15);
  --uui-elevation-5:
    0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
}

.dark {
  --uui-elevation-1:
    0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --uui-elevation-2:
    0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  --uui-elevation-3:
    0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  --uui-elevation-4:
    0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px 4px rgba(0, 0, 0, 0.15);
  --uui-elevation-5:
    0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
}

/*.dark {*/
/*  --uui-elevation-1: 0 1px 2px rgba(255,255,255,0.15), 0 1px 3px 1px rgba(255,255,255,0.10);*/
/*  --uui-elevation-2: 0 1px 2px rgba(255,255,255,0.18), 0 2px 6px 2px rgba(255,255,255,0.12);*/
/*  --uui-elevation-3: 0 1px 3px rgba(255,255,255,0.20), 0 4px 8px 3px rgba(255,255,255,0.14);*/
/*  --uui-elevation-4: 0 2px 3px rgba(255,255,255,0.22), 0 6px 10px 4px rgba(255,255,255,0.15);*/
/*  --uui-elevation-5: 0 4px 4px rgba(255,255,255,0.24), 0 8px 12px 6px rgba(255,255,255,0.16);*/
/*}*/

[class*='uui-elevation-'] {
  transition: box-shadow 150ms cubic-bezier(0.2, 0, 0, 1);
}

.uui-elevation-0 {
  box-shadow: none;
}

.uui-elevation-1 {
  box-shadow: var(--uui-elevation-1);
}

.uui-elevation-2 {
  box-shadow: var(--uui-elevation-2);
}

.uui-elevation-3 {
  box-shadow: var(--uui-elevation-3);
}

.uui-elevation-4 {
  box-shadow: var(--uui-elevation-4);
}

.uui-elevation-5 {
  box-shadow: var(--uui-elevation-5);
}

.uui-hover-elevate.uui-elevation-0:hover {
  box-shadow: var(--uui-elevation-1);
}
.uui-hover-elevate.uui-elevation-1:hover {
  box-shadow: var(--uui-elevation-2);
}
.uui-hover-elevate.uui-elevation-2:hover {
  box-shadow: var(--uui-elevation-3);
}
.uui-hover-elevate.uui-elevation-3:hover {
  box-shadow: var(--uui-elevation-4);
}
.uui-hover-elevate.uui-elevation-4:hover {
  box-shadow: var(--uui-elevation-5);
}

.uui-pressed-elevate.uui-elevation-1:active {
  box-shadow: none;
}
.uui-pressed-elevate.uui-elevation-2:active {
  box-shadow: var(--uui-elevation-1);
}
.uui-pressed-elevate.uui-elevation-3:active {
  box-shadow: var(--uui-elevation-2);
}
.uui-pressed-elevate.uui-elevation-4:active {
  box-shadow: var(--uui-elevation-3);
}
.uui-pressed-elevate.uui-elevation-5:active {
  box-shadow: var(--uui-elevation-4);
}

.uui-hover-elevate.uui-pressed-elevate.uui-elevation-0:hover:active {
  box-shadow: none;
}
.uui-hover-elevate.uui-pressed-elevate.uui-elevation-1:hover:active {
  box-shadow: var(--uui-elevation-1);
}
.uui-hover-elevate.uui-pressed-elevate.uui-elevation-2:hover:active {
  box-shadow: var(--uui-elevation-2);
}
.uui-hover-elevate.uui-pressed-elevate.uui-elevation-3:hover:active {
  box-shadow: var(--uui-elevation-3);
}
.uui-hover-elevate.uui-pressed-elevate.uui-elevation-4:hover:active {
  box-shadow: var(--uui-elevation-4);
}
.uui-hover-elevate.uui-pressed-elevate.uui-elevation-5:hover:active {
  box-shadow: var(--uui-elevation-5);
}
