.a {
  /*M3/sys/light/primary*/
  color: #6750a4;
  /*M3/sys/light/on-primary*/
  color: #ffffff;

  /*M3/sys/light/primary-container*/
  color: #eaddff;
  /*M3/sys/light/on-primary-container*/
  color: #21005d;

  /*M3/sys/light/primary-fixed*/
  color: #eaddff;
  /*M3/sys/light/on-primary-fixed*/
  color: #21005d;

  /*M3/sys/light/on-primary-fixed-variant*/
  color: #4f378b;
  /*M3/sys/light/primary-fixed-dim*/
  color: #d0bcff;

  /*M3/sys/light/secondary*/
  color: #625b71;
  /*M3/sys/light/on-secondary*/
  color: #ffffff;

  /*M3/sys/light/secondary-container*/
  color: #1d192b;
  /*M3/sys/light/on-secondary-container*/
  color: #e8def8;

  /*M3/sys/light/secondary-fixed*/
  color: #e8def8;
  /*M3/sys/dark/on-secondary-fixed*/
  color: #1d192b;

  /*M3/sys/light/on-secondary-fixed-variant*/
  color: #ccc2dc;
  /*M3/sys/light/secondary-fixed-dim*/
  color: #4a4458;

  /*M3/sys/light/tertiary*/
  color: #7d5260;
  /*M3/sys/light/on-tertiary*/
  color: #ffffff;

  /*M3/sys/light/tertiary-container*/
  color: #ffd8e4;
  /*M3/sys/light/on-tertiary-container*/
  color: #31111d;

  /*M3/sys/light/tertiary-fixed*/
  color: #ffd8e4;
  /*M3/sys/light/on-tertiary-fixed*/
  color: #31111d;

  /*M3/sys/light/on-tertiary-fixed-variant*/
  color: #633b48;
  /*M3/sys/light/tertiary-fixed-dim*/
  color: #efb8c8;

  /*M3/sys/light/error*/
  color: #b3261e;
  /*M3/sys/light/on-error*/
  color: #ffffff;

  /*M3/sys/light/error-container*/
  color: #f9dedc;
  /*M3/sys/light/on-error-container*/
  color: #410e0b;

  /*M3/sys/light/surface*/
  color: #fef7ff;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-bright*/
  color: #fef7ff;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-dim*/
  color: #ded8e1;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-container-lowest*/
  color: #ffffff;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-container-low*/
  color: #f7f2fa;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-container*/
  color: #f3edf7;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-container-high*/
  color: #ece6f0;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface-container-highest*/
  color: #e6e0e9;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface*/
  color: #fef7ff;
  /*M3/sys/light/on-surface*/
  color: #1d1b20;

  /*M3/sys/light/surface*/
  color: #fef7ff;
  /*M3/sys/light/on-surface-variant*/
  color: #49454f;

  /*M3/sys/light/outline*/
  color: #79747e;
  /*M3/sys/light/surface*/
  color: #fef7ff;

  /*M3/sys/light/outline-variant*/
  color: #cac4d0;
  /*M3/sys/light/inverse-surface*/
  color: #322f35;

  /*M3/sys/light/inverse-surface*/
  color: #322f35;
  /*M3/sys/light/inverse-on-surface*/
  color: #f5eff7;

  /*M3/sys/light/inverse-primary*/
  color: #d0bcff;
  /*M3/sys/light/on-primary-container*/
  color: #21005d;

  /*M3/sys/light/scrim*/
  color: #000000;
  /*M3/sys/light/surface*/
  color: #fef7ff;

  /*M3/sys/light/shadow*/
  color: #000000;
  /*M3/sys/light/surface*/
  color: #fef7ff;
}
