:root {
    --uui-corner-extra-small: 4px;
    --uui-corner-small: 8px;
    --uui-corner-medium: 12px;
    --uui-corner-large: 16px;
    --uui-corner-extra-large: 28px;

    --uui-corner-full: 9999px;
    --uui-corner-none: 0;

    --uui-corner-smooth: var(--uui-corner-small);
    --uui-corner-rounded: var(--uui-corner-medium);
    --uui-corner-round: var(--uui-corner-full);
}

.uui-corner-none,
.uui-square {
    --uui-control-shape: var(--uui-corner-none);
    border-radius: var(--uui-corner-none);
}

.uui-corner-extra-small {
    --uui-control-shape: var(--uui-corner-extra-small);
    border-radius: var(--uui-corner-extra-small);
}

.uui-corner-small {
    --uui-control-shape: var(--uui-corner-small);
    border-radius: var(--uui-corner-small);
}

.uui-corner-medium {
    --uui-control-shape: var(--uui-corner-medium);
    border-radius: var(--uui-corner-medium);
}

.uui-corner-large {
    --uui-control-shape: var(--uui-corner-large);
    border-radius: var(--uui-corner-large);
}

.uui-corner-extra-large {
    --uui-control-shape: var(--uui-corner-extra-large);
    border-radius: var(--uui-corner-extra-large);
}

.uui-corner-full{
    --uui-control-shape: var(--uui-corner-full);
    border-radius: var(--uui-corner-full);
}

.uui-round {
    --uui-control-shape: var(--uui-corner-round);
    border-radius: var(--uui-corner-round);
}

.uui-smooth {
    --uui-control-shape: var(--uui-corner-smooth);
    border-radius: var(--uui-corner-smooth);
}

.uui-rounded {
    --uui-control-shape: var(--uui-corner-rounded);
    border-radius: var(--uui-corner-rounded);
}
