:root {
  --uui-corner-extra-small: 4px;
  --uui-corner-small: 8px;
  --uui-corner-medium: 12px;
  --uui-corner-large: 16px;
  --uui-corner-extra-large: 28px;
  --uui-corner-full: 9999px;
  --uui-corner-none: 0;

  --uui-corner-smooth: var(--uui-corner-small);
  --uui-corner-rounded: var(--uui-corner-medium);
}

.uui-corner-none,
.uui-square {
  border-radius: var(--uui-corner-none);
}

.uui-corner-extra-small {
  border-radius: var(--uui-corner-extra-small);
}

.uui-corner-small {
  border-radius: var(--uui-corner-small);
}

.uui-corner-medium {
  border-radius: var(--uui-corner-medium);
}

.uui-corner-large {
  border-radius: var(--uui-corner-large);
}

.uui-corner-extra-large {
  border-radius: var(--uui-corner-extra-large);
}

.uui-corner-full,
.uui-round {
  border-radius: var(--uui-corner-full);
}

.uui-smooth {
  border-radius: var(--uui-corner-smooth);
}

.uui-rounded {
  border-radius: var(--uui-corner-rounded);
}
