:root {
  --uui-color-primary: rgb(103, 80, 164);
  --uui-color-secondary: rgb(98, 91, 113);
  --uui-color-tertiary: rgb(126, 82, 96);
  --uui-color-error: rgb(186, 26, 26);
  --uui-color-on-primary: rgb(255, 255, 255);
  --uui-color-primary-container: rgb(233, 221, 255);
  --uui-color-on-primary-container: rgb(34, 0, 93);
  --uui-color-on-secondary: rgb(255, 255, 255);
  --uui-color-secondary-container: rgb(232, 222, 248);
  --uui-color-on-secondary-container: rgb(30, 25, 43);
  --uui-color-on-tertiary: rgb(255, 255, 255);
  --uui-color-tertiary-container: rgb(255, 217, 227);
  --uui-color-on-tertiary-container: rgb(49, 16, 29);
  --uui-color-on-error: rgb(255, 255, 255);
  --uui-color-error-container: rgb(255, 218, 214);
  --uui-color-on-error-container: rgb(65, 0, 2);
  --uui-color-outline: rgb(122, 117, 127);
  --uui-color-outline-variant: rgb(202, 196, 207);
  --uui-color-surface: rgb(253, 248, 253);
  --uui-color-on-surface: rgb(28, 27, 30);
  --uui-color-surface-variant: rgb(231, 224, 235);
  --uui-color-on-surface-variant: rgb(73, 69, 78);
  --uui-color-background: rgb(255, 251, 255);
  --uui-color-on-background: rgb(28, 27, 30);
  --uui-color-inverse-surface: rgb(49, 48, 51);
  --uui-color-inverse-on-surface: rgb(244, 239, 244);
  --uui-color-inverse-primary: rgb(207, 188, 255);
  --uui-color-shadow: rgb(0, 0, 0);
  --uui-color-scrim: rgb(0, 0, 0);
  --uui-color-info: rgb(0, 96, 171);
  --uui-color-on-info: rgb(255, 255, 255);
  --uui-color-info-container: rgb(211, 227, 255);
  --uui-color-on-info-container: rgb(0, 28, 57);
  --uui-color-warning: rgb(124, 88, 0);
  --uui-color-on-warning: rgb(255, 255, 255);
  --uui-color-warning-container: rgb(255, 222, 167);
  --uui-color-on-warning-container: rgb(39, 25, 0);
  --uui-color-success: rgb(0, 110, 43);
  --uui-color-on-success: rgb(255, 255, 255);
  --uui-color-success-container: rgb(149, 248, 160);
  --uui-color-on-success-container: rgb(0, 33, 8);
  --uui-color-primary-fixed: rgb(233, 221, 255);
  --uui-color-primary-fixed-dim: rgb(207, 188, 255);
  --uui-color-on-primary-fixed: rgb(34, 0, 93);
  --uui-color-on-primary-fixed-variant: rgb(79, 55, 138);
  --uui-color-secondary-fixed: rgb(232, 222, 248);
  --uui-color-secondary-fixed-dim: rgb(203, 194, 219);
  --uui-color-on-secondary-fixed: rgb(30, 25, 43);
  --uui-color-on-secondary-fixed-variant: rgb(74, 68, 88);
  --uui-color-tertiary-fixed: rgb(255, 217, 227);
  --uui-color-tertiary-fixed-dim: rgb(239, 184, 200);
  --uui-color-on-tertiary-fixed: rgb(49, 16, 29);
  --uui-color-on-tertiary-fixed-variant: rgb(99, 59, 72);
  --uui-color-error-fixed: rgb(255, 218, 214);
  --uui-color-error-fixed-dim: rgb(255, 180, 171);
  --uui-color-on-error-fixed: rgb(65, 0, 2);
  --uui-color-on-error-fixed-variant: rgb(147, 0, 10);
  --uui-color-info-fixed: rgb(211, 227, 255);
  --uui-color-info-fixed-dim: rgb(163, 201, 255);
  --uui-color-on-info-fixed: rgb(0, 28, 57);
  --uui-color-on-info-fixed-variant: rgb(0, 72, 130);
  --uui-color-warning-fixed: rgb(255, 222, 167);
  --uui-color-warning-fixed-dim: rgb(239, 191, 101);
  --uui-color-on-warning-fixed: rgb(39, 25, 0);
  --uui-color-on-warning-fixed-variant: rgb(94, 66, 0);
  --uui-color-success-fixed: rgb(154, 247, 163);
  --uui-color-success-fixed-dim: rgb(126, 218, 138);
  --uui-color-on-success-fixed: rgb(0, 33, 8);
  --uui-color-on-success-fixed-variant: rgb(0, 83, 30);
  --uui-color-surface-dim: rgb(221, 216, 221);
  --uui-color-surface-bright: rgb(253, 248, 253);
  --uui-color-surface-container-lowest: rgb(255, 255, 255);
  --uui-color-surface-container-low: rgb(247, 242, 247);
  --uui-color-surface-container: rgb(242, 236, 241);
  --uui-color-surface-container-high: rgb(236, 231, 235);
  --uui-color-surface-container-highest: rgb(230, 225, 230);
  --uui-color-surface-tint: rgb(103, 80, 164);
  --uui-color-white: rgb(255, 255, 255);
  --uui-color-black: rgb(0, 0, 0);
  --uui-color-on-white: rgb(0, 0, 0);
  --uui-color-on-black: rgb(255, 255, 255);
}
